/* ============ндубап╠М============== */

ul.newslistcat{
margin:0px;
padding:0px;
}

li.newslistcat {
margin:0;
list-style-type: none;
font: 12px/22px simsun;
font-weight:100;
color:#505050;
}

a.newslistcat:link,a.newslistcat:visited,a.newslistcat:active{
color:#505050;
text-decoration: none;
font:12px/22px Verdana, Arial, Helvetica, sans-serif;
}

a.newslist1:hover{
color:#ff6600;
text-decoration: underline;
font:12px/22px Verdana, Arial, Helvetica, sans-serif;
}
