<!-start->
<link href="css/downquery_auth_cat.css" rel="stylesheet" type="text/css" />
<div id="downquery">
<ul >
<!-start->
<!-list-> 
<li>
	<div class="memo">
	  <table width="100%"  border="0" cellspacing="1" cellpadding="2">
        <tr>
          <td><a href="{#link#}" target="{#target#}" class="downtitle" {#bold#} {#red#} >{#cat#}&gt; {#title#}</a></td>
          <td width="120">下载次数：{#downcount#} </td>
        </tr>
        <tr>
          <td>资源分类：{#catstr#} </td>
          <td width="120">交易积分：{#downcent#} {#centname#}</td>
        </tr>
        <tr>
          <td>资源发布：{#dtime#} BY {#author#}</td>
          <td width="120">资源收益：{#centincome#} {#centname#}</td>
        </tr>
      </table>
	  </div>
	


</li>
<!-list->
<!-end->
</ul>
</div>


<div id="showpages">
	  <div id="pagesinfo">共{#totalnums#}条 每页{#pagesshownum#}条 页次：{#pagesnow#}/{#pagestotal#}</div>
	  <div id="pages">{#showpages#}</div>
     </div>

<!-end->