<!-start->
<link href="images/channelmenu_1008/{#tempcolor#}.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{#CP#}js/channelmenu_1008.js"></script>
<div id="channelmenu">
<!-start-> 

<!-menu->
	<a href="{#menuurl#}" target="{#target#}" class="channelmenu_main" id="channelmenu_main_{#n#}" onMouseOver="showSubMenu('channelmenu_main','channelmenu_sub',{#n#})">{#menu#}</a>
<!-menu->

<!-list->
<li><a href="{#menuurl#}" target="{#target#}">{#menu#}</a>|</li> 
<!-list->

<!-end-> 
</div>
<div id="channelmenu_subdiv">
<div id="channelmenu_sub">{#smenustr#}</div>
</div>
<script>initSubMenu('channelmenu_main','channelmenu_sub','{#m#}');</script>
<!-end->

