<include file="Public:header"/>
  <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Index/index')}">首页</a><span class="crumb-step">&gt;</span>信息操作<span class="crumb-step">&gt;</span>
            <span>更新成员</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="{:U('up_member')}" method="post" id="myform" name="myform" >
                    <table class="insert-tab" width="100%">
                        <tbody><tr>
                            <th width="120"><i class="require-red">*</i>姓名：</th>
                            <td>
								<input type="hidden" name="uid" value="{$data.uid}">
                               <input class="common-text required" id="title" name="name" size="50" value="{$data.name}" type="text" required="required">
                            </td>
                        </tr>
                            <tr>
                                <th><i class="require-red">*</i>身份证号：</th>
                                <td>
                                    <input class="common-text required" id="title" name="idcard" size="50" value="{$data.idcard}" type="text" required="required">
                                </td>
                            </tr>
                            <tr>
                                <th>性别：</th>
                                <td>
									<select name="sex" id="catid" class="required" required="required">
										<option value="">请选择</option>
										<if condition ="$data.sex eq '男'">
											<option value="男" selected="selected" >男</option>
											<option value="女">女</option>
										<else/>
											<option value="男" >男</option>
											<option value="女" selected="selected" >女</option>
										</if>
									</select>
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>电话：</th>
                                <td><input name="phone" id="" type="text" size="50" required="required" value="{$data.phone}"></td>
                            </tr>
                            <tr>
                                <th>家庭住址：</th>
                                <td><textarea name="address" class="common-textarea" id="content" cols="30" style="width: 98%;" rows="10" required="required">{$data.address}</textarea></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
</div>
</body>
</html>
