.member_Box {
	width: 980px;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	overflow: auto;
	margin-top: 10px;
}
.member_left {
	width: 250px;
	height: 100%;
	overflow: hidden;
	float: left;
}
.memver_L_top {
	width: 240px;
	height: 80px;
	float: left;
}
.memver_L_menu_out {
	width: 215px;
	height: 21px;
	float: left;
	background-image: url(btn_member_menu.gif);
	background-repeat: no-repeat;
	font-weight: bold;
	padding-top: 9px;
	padding-left: 25px;
	color: #666666;
	background-position: 0px 0px;
}
.memver_L_menu_over {
	width: 210px;
	height: 21px;
	float: left;
	background-image: url(btn_member_menu.gif);
	background-repeat: no-repeat;
	font-weight: bold;
	padding-top: 9px;
	padding-left: 30px;
	color: #ff3300;
	background-position: 0px -30px;
	cursor: pointer; 
	cursor: url('http://www.caicaifood.com/link.cur');
}
.memver_L_btm {
	width: 240px;
	height: 10px;
	margin-bottom:10px;
	float: left;
	background-image: url(title_bottom.gif);
	background-repeat: no-repeat;
}
.memver_L_idBox {
	width: 230px;
	height: 150px;
	margin-bottom:10px;
	float: left;
	border: 1px solid #ff8b00;
	padding: 4px;
	background-color: #FFFFFF;
}
.memver_L_idPhoto {
	width: 82px;
	height: 82px;
	float: left;
	border: 1px solid #cccccc;
	background-color: #FFFFFF;
	padding-top: 4px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 3px;
	margin-right: 5px;
}
.memver_L_idName {
	width: 130px;
	height: 23px;
	line-height:23px;
	float: left;
}
.memver_L_idVIP {
	width: 130px;
	height: 22px;
	line-height:22px;
	float: left;
}
.memver_L_idIntegral {
	width: 130px;
	height: 23px;
	line-height:23px;
	float: left;
}
.memver_L_idExperience1 {
	width: 130px;
	height: 22px;
	line-height:22px;
	float: left;
}
.memver_L_idExperience2 {
	width: 230px;
	height: 19px;
	line-height:19px;
	float: left;
	background-image: url(load.png);
	background-repeat: no-repeat;
	background-position: 58px 5px;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #cccccc;
	padding-top: 5px;
	margin-top: 5px;
	color: #666666;
}
.memver_L_idExperience3 {
	width:60px;
	height: 15px;
	float: left;
	padding-top: 2px;
}
.memver_L_idExperience4 {
	height: 17px;
	float: left;
	background-image: url(load.png);
	background-repeat: no-repeat;
	background-position: 0px -40px;
	font-family: Tahoma;
	font-size: 9px;
	text-align: right;
	text-indent: 2px;
}
.memver_L_idExperience5 {
	width: 230px;
	height: 19px;
	line-height:19px;
	float: left;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #cccccc;
	padding-top: 5px;
	margin-top: 5px;
	color: #999999;
}



.member_right1 {
	width: 695px;
	height: 32px;
	overflow: hidden;
	float: left;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-image: url(Title_bk_730px.gif);
	background-repeat: no-repeat;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	padding-top: 8px;
	padding-left: 35px;
}
.member_right1 li{float:left;width:88px;height:24px;text-align:center;padding-top:8px;cursor:pointer}
.member_right1 .x_sel{background:url(bg21.jpg) no-repeat;color:#ff8800;}
.member_right2 {
	width: 680px;
	height: 100%;
	overflow: hidden;
	float: left;
	background-color: #FFFFFF;
	font-size: 14px;
	line-height: 30px;
	padding: 24px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #ff9800;
	border-bottom-color: #ff9800;
	border-left-color: #ff9800;
	background-image: url(line30.gif);
	background-repeat: repeat-y;
	background-position: center 24px;
}
.member_right3 {
	width: 680px;
	height: 100%;
	overflow: hidden;
	float: left;
	background-color: #FFFFFF;
	font-size: 14px;
	line-height: 30px;
	padding: 24px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #ff9800;
	border-bottom-color: #ff9800;
	border-left-color: #ff9800;
}
.member_right3 div,.member_right3 td,.member_right3 li{font-size:14px;}

.member_right6a {
	width: 100px;
	float: left;
	height: 40px;
	text-align: right;
	line-height: 40px;
}
.member_right6b {
	width: 580px;
	float: left;
	height: 40px;
	line-height: 35px;
}
.member_right6c {
	width: 580px;
	float: left;
	height: 30px;
	padding-top: 10px;
	color: #CCCCCC;
	line-height: 30px;
}


.member_right7a {
	width: 678px;
	float: left;
	height: 13px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #b58c01;
	border-right-color: #b58c01;
	border-bottom-color: #848463;
	border-left-color: #b58c01;
	background-color: #efe7d6;
}
.member_right7b1 {
	float: left;
	height: 13px;
	background-image: url(Vip_jd.png);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	font-size: 9px;
	text-align: right;
	line-height: 13px;
	padding-right: 3px;
}
.member_right7b2 {
	float: left;
	height: 13px;
	background-image: url(Vip_jd.png);
	background-repeat: repeat-x;
	background-position: 0px -20px;
	font-size: 9px;
	text-align: right;
	line-height: 13px;
	padding-right: 3px;
}
.member_right7b3 {
	float: left;
	height: 13px;
	background-image: url(Vip_jd.png);
	background-repeat: repeat-x;
	background-position: 0px -40px;
	font-size: 9px;
	text-align: right;
	line-height: 13px;
	padding-right: 3px;
}
.member_right7b4 {
	float: left;
	height: 13px;
	background-image: url(Vip_jd.png);
	background-repeat: repeat-x;
	background-position: 0px -60px;
	font-size: 9px;
	text-align: right;
	line-height: 13px;
	padding-right: 3px;
}
.member_right7b5 {
	float: left;
	height: 13px;
	background-image: url(Vip_jd.png);
	background-repeat: repeat-x;
	background-position: 0px -80px;
	font-size: 9px;
	text-align: right;
	line-height: 13px;
	padding-right: 3px;
}
.member_right7b6 {
	float: left;
	height: 13px;
	background-image: url(Vip_jd.png);
	background-repeat: repeat-x;
	background-position: 0px -100px;
	font-size: 9px;
	text-align: right;
	line-height: 13px;
	padding-right: 3px;
}
.member_right7b7 {
	float: left;
	height: 13px;
	background-image: url(Vip_jd.png);
	background-repeat: repeat-x;
	background-position: 0px -120px;
	font-size: 9px;
	text-align: right;
	line-height: 13px;
	padding-right: 3px;
}





.member_right7c {
	width: 680px;
	float: left;
	height: 30px;
	background-image: url(Vip_dj.gif);
	background-repeat: no-repeat;
}
.member_right7d {
	width: 680px;
	float: left;
	height: 30px;
	margin-bottom: 20px;
	margin-top: -10px;
}
.member_right7d1 {
	float: left;
	height: 20px;
	font-size: 9px;
	font-weight: bold;
}




.member_right8a {
	width: 680px;
	line-height: 30px;
	float: left;
	height: 30px;
	font-size: 14px;
	margin-bottom: 20px;
}
.member_right8b {
	width: 680px;
	line-height: 40px;
	float: left;
	height: 40px;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	background-color: #f8f8f8;
}
.member_right8b1 {
	width: 50px;
	height: 30px;
	float: left;
	text-align: center;
}
.member_right8c {
	width: 680px;
	height: 30px;
	float: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
.member_right8c1 {
	width: 150px;
	height: 20px;
	line-height: 20px;
	float: left;
	text-align: center;
	color: #999999;
	margin-top: 5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
}
.member_right8c2 {
	width: 100px;
	height: 20px;
	line-height: 20px;
	float: left;
	text-align: center;
	color:#FF3300;
	font-weight: bold;
	margin-top: 5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
}
.member_right8c3 {
	width: 100px;
	height: 20px;
	line-height: 20px;
	float: left;
	text-align: center;
	color: #00bb66;
	font-weight: bold;
	margin-top: 5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
}
.member_right8c4 {
	width: 100px;
	height: 20px;
	line-height: 20px;
	float: left;
	text-align: center;
	font-weight: bold;
	margin-top: 5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
}
.member_right8c5 {
	width: 215px;
	height: 20px;
	line-height: 20px;
	float: left;
	color: #888888;
	padding-left: 10px;
	margin-top: 5px;
}
.member_right8c6 {
	width: 315px;
	height: 20px;
	line-height: 20px;
	float: left;
	color: #888888;
	padding-left: 10px;
	margin-top: 5px;
}



.member_right8d {
	width: 680px;
	height: 30px;
	float: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	background-color: #f8f8f8;
}








.member_right9a {
	width: 678px;
	float: left;
	height: 100%;
	overflow: hidden;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-left-color: #CCCCCC;
	margin-bottom: 15px;
}
.member_right9b {
	width: 668px;
	float: left;
	height: 29px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	background-color: #f8f8f8;
	line-height: 29px;
	padding-left: 10px;
	color: #666666;
}
.member_right9c {
	width: 678px;
	float: left;
	height: 100%;
	overflow: hidden;
	margin-top: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	background-image: url(order_lineBK.gif);
	background-repeat: repeat-y;
}
.member_right9d1 {
	width: 80px;
	float: left;
	height: 100%;
	overflow: hidden;
	text-align: center;
	line-height: 23px;
	color: #666666;
	padding-top: 10px;
}
.member_right9d2 {
	width: 510px;
	float: left;
	overflow: hidden;
}
.member_right9f {
	width: 510px;
	float: left;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #dddddd;
}
.member_right9f1 {
	float: left;
	padding-top: 5px;
	padding-left: 5px;
}
.member_right9f2 {
	float: right;
	border-left-width: 1px;
	border-left-style: dashed;
	border-left-color: #dddddd;
	text-align: center;
	padding-top: 5px;
	color: #999999;
}
.member_right9d3 {
	width: 78px;
	float: left;
	height: 100%;
	overflow: hidden;
	line-height: 23px;
	padding-left: 10px;
	padding-top: 1px;
	color: #666666;
}
.txt_orange14B {
	color:#FF9100;
	font-weight: bold;
	font-size: 14px;
}
.input_name {
	font-size: 14px;
	color: #333333;
	height: 30px;
	width: 300px;
	line-height: 30px;
	border: 1px solid #CCCCCC;
	text-indent: 5px;
}

.txt_red{color:#FF3300;}
.txt_redB{
	color:#FF3300;
	font-weight: bold;
}
.txt_gary{color:#999999;}
.txt_orange{color:#FF9100;}
.txt_orangeB {
	color:#FF9100;
	font-weight: bold;
}
.txt_orange14B {
	color:#FF9100;
	font-weight: bold;
	font-size: 14px;
}
.txt_12px{font-size: 12px;}

.edit_table{}
.edit_table{border:0px #6CC1F3 solid;margin-top:10px;border-collapse: collapse;float:left;clear:both;width:100%}
.edit_table td{padding:8px 0px 5px 0px}
.edit_table .x_titrow{height:20px}
.edit_table .x_titcol{text-align:center;text-align:left;color:#666666;font-weight:bold}
.edit_table .x_colname{width:120px;text-align:right;padding-right:5px;padding-top:0px}
.edit_table .x_colval{text-align:left;padding-left:5px;padding-top:6px;padding-bottom:3px}
