<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>疫苗信息管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css"/>
    <script src="__PUBLIC__/js/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="__PUBLIC__/js/libs/modernizr.min.js"></script>
</head>
<body>
<div class="topbar-wrap white">
    <div class="topbar-inner clearfix">
        <div class="topbar-logo-wrap clearfix">
            <h1 class="topbar-logo none"><a href="{:U('Index/index')}" class="navbar-brand">后台管理</a></h1>
            <ul class="navbar-list clearfix">
                <li><a class="on" href="{:U('Index/index')}">首页</a></li>
            </ul>
        </div>
        <div class="top-info-wrap">
            <ul class="top-info-list clearfix">
                <li>欢迎您，{$Think.session.user.name}</li>
                <li><a href="{:U('Login/up')}">修改密码</a></li>
                <li><a href="{:U('Login/Loginout')}">退出</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container clearfix">
    <div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>菜单</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li>
                    <a href="#"><i class="icon-font">&#xe003;</i>信息操作</a>
                    <ul class="sub-menu">
                        <li><a href="{:U('Member/index')}"><i class="icon-font">&#xe005;</i>个人数据管理</a></li>
                        <li><a href="{:U('Member/add_user')}"><i class="icon-font">&#xe009;</i>个人信息录入</a></li>
                    </ul>
                </li>
                <li>
					<if condition="$Think.session.user.type eq 0">
                    <a href="#"><i class="icon-font">&#xe018;</i>疫苗管理</a>
                    <ul class="sub-menu">
                        <li><a href="{:U('Vaccine/index')}"><i class="icon-font">&#xe037;</i>疫苗管理</a></li>
                        <li><a href="{:U('Vaccine/add_vaccine')}"><i class="icon-font">&#xe017;</i>新增疫苗</a></li>
                        <li><a href="{:U('Vaccine/add_firm')}"><i class="icon-font">&#xe046;</i>新增厂商</a></li>
                        <li><a href="{:U('Vaccine/add_type')}"><i class="icon-font">&#xe045;</i>新增种类</a></li>
                    </ul>
                    <else/>
                    
                    </if>
                </li>
            </ul>
        </div>
    </div>
    <!--/sidebar-->
