/* ============分类列表============== */

ul.photoclass{
margin:0px;
padding:0px;
}

li.photoclass {
float:left;
margin-right:12px;
padding-left:16px;
list-style-type: none;
white-space: nowrap;
background: transparent url(../images/li.gif) left no-repeat;
}



a.photoclass:link,a.photoclass:visited,a.photoclass:active{
color:#555;
text-decoration: none;
font: 12px/18px simsun;
}

a.photoclass:hover{
color:#ff0000;
text-decoration: underline;
font: 12px/18px simsun;
}
