/* ============Õº∆¨+ΩÈ…‹¡–±Ì============== */


ul.photopicmemo{
margin:0;
padding:0
}

ul.photopicmemo li{
clear:all;
list-style-type: none; 
padding:3px;
margin-bottom:3px;
border:1px #ddd solid;
overflow: hidden;
}

ul.photopicmemo div.picFit{
float:left;
text-align:center;
margin-right:13px;
overflow: hidden;
}

ul.photopicmemo div.pic img{
}

ul.photopicmemo div.tm{
margin-right:6px;
}


ul.photopicmemo a.title:link,ul.photopicmemo a.title:visited,ul.photopicmemo a.title:active{
font:bold 14px/22px simsun;
color:#555;
text-decoration: none;
}

ul.photopicmemo a.title:hover{
font:bold 14px/22px simsun;
color:#ff0000;
text-decoration: underline;
}


ul.photopicmemo div.memo{
font:12px/18px simsun;
margin-top:3px;
color:#555;
}
