<!-start->
<link href="css/photocontent_blue.css" rel="stylesheet" type="text/css" />
<script type=text/javascript src="{#CP#}js/photocontent.js"></script>

<div id="piccontent">
	<div class="fcenter">
	<table align="center" cellpadding="10" cellspacing="0">
	<tr>
	<td>
	<div id="contentpages"></div>
	</td></tr></table>
	</div>
	<div class="photozone">
	<table align="center" cellpadding="0" cellspacing="0">
	<tr>
	<td align="center">
	<div id="photoview">
	<img src="images/loading.gif" border="0" id="photoloading" class="photoloading">
	</div>
	</td>
	</tr>
	</table>
	
	
	</div>
	<div class="introzone">
	<div class="title">{#title#}</div>
	<div id="memo" class="memo" style="display:{#showmemo#}"><strong>图片说明：</strong>{#memo#}</div>
	<div class="bzone">
	<div class="source" >浏览 ({#cl#}) | <a href="{#commentutl#}">评论</a> ({#commentcount#}) | 评分({#centavg#}) | <span id="zhichi"  title="支持一票">支持(<span id="zhichinum">{#zhichi#}</span>) </span> | <span id="fandui" title="反对一票">反对(<span id="fanduinum">{#fandui#}</span>) </span> | 图片上传：<a href="{#memberurl#}">{#author#}</a>  
	  <input type="hidden" id="photoid" value="{#id#}"> 
	  </div>
	<div id="addfav" class="addfav">将本图片加入收藏夹</div>
	<div class="tags" style="display:{#showtag#}">标签：{#tagstr#}</div>
	<div id="banzhu" class="banzhu"></div>
	</div>
	</div>
	
</div>

<!-start->
<!-end->
<!-end->
<!-err1-><div class="notice">当前ID不存在或尚未发布</div><!-err1->
<!-err2-><div class="notice">对不起,本内容设置了阅读权限,您无权访问当前内容</div><!-err2->
