BODY {
	MARGIN: 0px; FONT-FAMILY: "ו"; BACKGROUND: url(../images/gxll/gxll_bg.gif) #fefdde repeat-x center top; FONT-SIZE: 12px
}
DIV {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
IMG {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
IFRAME {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
UL {
	LIST-STYLE-TYPE: none
}
LI {
	LIST-STYLE-TYPE: none
}
A:link {
	COLOR: #333; TEXT-DECORATION: none
}
A:visited {
	COLOR: #333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
.more {
	PADDING-RIGHT: 10px; FLOAT: right; COLOR: #f05831; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.more A:link {
	COLOR: #f05831; TEXT-DECORATION: none
}
.more A:visited {
	COLOR: #f05831; TEXT-DECORATION: none
}
.more A:hover {
	COLOR: #930; TEXT-DECORATION: underline
}
.time {
	FLOAT: right; COLOR: #999
}
.bot {
	MARGIN-BOTTOM: 10px
}
.box {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.left {
	FLOAT: left
}
.right {
	FLOAT: right
}
.Date {
	COLOR: #ff0; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.MR10 {
	MARGIN-RIGHT: 10px
}
.P10 {
	HEIGHT: 0px; CLEAR: both; PADDING-TOP: 10px; _height: 0px; _padding-top: 0px
}
.header {
	BACKGROUND-COLOR: #fff; MARGIN: 0px auto; WIDTH: 980px
}
.banner {
	BACKGROUND: url(../images/gxll/banner.jpg) no-repeat 0px 0px
}
.banner EMBED {
	DISPLAY: block
}
.header_top {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: url(../images/gxll/gxll_TopBg.gif) repeat-x 0px 0px; HEIGHT: 30px; PADDING-TOP: 0px
}
.header_top SPAN IMG {
	FLOAT: left
}
.header_top SPAN A {
	MARGIN: 0px 10px 0px 4px
}
.header_top .right A {
	MARGIN: 0px 4px
}
.menu {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 36px; PADDING-LEFT: 10px; LETTER-SPACING: 1px; PADDING-RIGHT: 10px; BACKGROUND: url(../images/gxll/gxll_menu.gif) repeat-x 0px 0px; HEIGHT: 36px; COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.menu UL LI {
	TEXT-ALIGN: center; WIDTH: 90px; FLOAT: left
}
.menu .nav-site .nav-ind {
	WIDTH: 80px
}
.menu A {
	DISPLAY: block
}
.menu A:link {
	COLOR: #fff; TEXT-DECORATION: none
}
.menu A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
.menu A:hover {
	BACKGROUND: url(../images/gxll/gxll_menuon.gif) no-repeat 0px 0px; COLOR: #f00; TEXT-DECORATION: none
}
.nav-ind {
	WIDTH: 50px; BACKGROUND: url(../images/gxll/gxll_menuon.gif) no-repeat center top
}
.nav-site {
	LIST-STYLE-TYPE: none
}
.nav-site LI {
	Z-INDEX: 200; POSITION: relative
}
.nav-site LI A {
	COLOR: #fff
}
.nav-site UL {
	POSITION: absolute; VISIBILITY: hidden; TOP: 36px; LEFT: 0px
}
.nav-site TABLE {
	POSITION: absolute; TOP: 0px; LEFT: 0px
}
.nav-site LI:hover UL {
	VISIBILITY: visible
}
.nav-site A:hover UL {
	VISIBILITY: visible
}
.nav-site LI:hover {
	BACKGROUND: url(../images/gxll/gxll_menuon.gif) no-repeat center center
}
.nav-site A:hover {
	BACKGROUND: url(../images/gxll/gxll_menuon.gif) no-repeat center center; COLOR: #c00
}
.nav-site UL {
	
}
.nav-site UL A {
	BACKGROUND: #f30; COLOR: #ff0; BORDER-TOP: #fff 1px solid; TEXT-DECORATION: none
}
.nav-site UL LI {
	TEXT-ALIGN: center; LINE-HEIGHT: 24px !important; LIST-STYLE-TYPE: none; HEIGHT: 24px !important; CLEAR: both; FONT-SIZE: 12px
}
.nav-site UL LI A {
	WIDTH: 90px; DISPLAY: block; COLOR: #ff0
}
.nav-site UL LI A:hover {
	BACKGROUND: #fc3; COLOR: #f00; BORDER-TOP: #fff 1px solid
}
.header .set {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 30px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: url(../images/gxll/gxll_sobg.gif) repeat-x 0px 0px; HEIGHT: 30px; PADDING-TOP: 0px
}
.subnav {
	WIDTH: 640px; HEIGHT: 30px; OVERFLOW: hidden
}
#announ {
	LINE-HEIGHT: 30px; WIDTH: 580px; HEIGHT: 30px; OVERFLOW: hidden
}
#announ UL LI {
	PADDING-LEFT: 15px; BACKGROUND: url(../images/gxll/gxll_i07.gif) no-repeat 1px 11px
}
#announ UL LI SPAN {
	PADDING-LEFT: 15px; COLOR: #f60
}
.sobox {
	PADDING-LEFT: 70px; WIDTH: 240px; BACKGROUND: url(../images/gxll/gxll_sobox.gif) no-repeat 8px 0px; HEIGHT: 27px; PADDING-TOP: 3px
}
.sobox .button {
	BORDER-RIGHT-WIDTH: 0px; WIDTH: 50px; BACKGROUND: url(../images/gxll/gxll_sobut.gif) no-repeat 0px 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 22px; BORDER-LEFT-WIDTH: 0px
}
.sobox .text {
	BORDER-RIGHT-WIDTH: 0px; WIDTH: 180px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 20px; BORDER-LEFT-WIDTH: 0px
}
.cur {
	BACKGROUND-COLOR: #ffc
}
.footer {
	MARGIN: 0px auto; WIDTH: 980px; HEIGHT: 100px; CLEAR: both; BORDER-TOP: #c33 2px solid
}
.footmain {
	LINE-HEIGHT: 22px; PADDING-LEFT: 240px; PADDING-TOP: 15px
}
.footmain .copy {
	WIDTH: 330px
}
.footmain .bjgt {
	WIDTH: 380px; BACKGROUND: url(../images/gxll/bjgt.gif) no-repeat right 10px
}
.copymain {
	TEXT-ALIGN: center; LINE-HEIGHT: 22px; PADDING-LEFT: 80px; COLOR: #333; PADDING-TOP: 8px
}
