/*=========½Å×¢²Ëµ¥===========*/
div#menumain{
margin: 0;
padding:0;
border: 0;
height: 28px;
color:#336699;
font:11px/28px Verdana, Arial, Helvetica, sans-serif;
text-align:center;
}


div#menumain a:link,div#menumain a:visited,div#menumain a:active{
margin:0px 6px 0px 3px;
color:#336699;
font:12px/28px Verdana, Arial, Helvetica, sans-serif;
text-decoration: none;
}

div#menumain a:hover{
margin:0px 6px 0px 3px;
color:#ff6600;
font:12px/28px Verdana, Arial, Helvetica, sans-serif;
text-decoration: underline;
}

