<div class="menu">
	<div class="main">
		<div class="logo"><a href="index.php"><img src="images/logo.gif"></a></div>
		<div class="div_m2">
		<li {if($app=='index' && $app_act=='default')} class='x_sel'{else}onmouseover="kj.addClassName(this,'x_sel');" onmouseout="kj.delClassName(this,'x_sel');" onclick="window.location='index.php';"{/if}>首页</li>
		<li {if($app=='index' && $app_act=='help')} class='x_sel'{else}onmouseover="kj.addClassName(this,'x_sel');" onmouseout="kj.delClassName(this,'x_sel');" onclick="window.location='index.php?app_act=help';"{/if}>关于我们</li>
		{if(fun_is::com('msg'))}
		<li {if($app=='index' && $app_act=='msg')} class='x_sel'{else}onmouseover="kj.addClassName(this,'x_sel');" onmouseout="kj.delClassName(this,'x_sel');" onclick="window.location='index.php?app_act=msg';"{/if}>顾客留言</li>
		{/if}
		{if($this_login_user->uid>0)}
		<li {if($app=='member')} class='x_sel'{else}onmouseover="kj.addClassName(this,'x_sel');" onmouseout="kj.delClassName(this,'x_sel');" onclick="window.location='index.php?app=member';"{/if}>会员中心</li>
		{/if}
		</div>
		<div class="div_top a2">
			<div class="x_1">
			您好{$this_login_user->uname}，欢迎光临！
			{if($this_login_user->uid>0)}
				{if($this_login_user->type=='shop')}<a href="?app=shop">【店铺管理】</a>{/if}{if($this_login_user->is_admin())}&nbsp;&nbsp;<a href="master.php" target="_blank">【后台管理】</a>{/if}
				&nbsp;&nbsp;<a href="common.php?app=sys&app_act=login.out">【退出】</a>
			{else}
			【<a href="?app_act=login">登录</a>】【<a href="?app_act=reg">免费注册</a>】
			{/if}
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:window.external.AddFavorite(location.href,document.title);">收藏本站</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:js_header_top.share('');">分享好友</a>
			</div>
			<div class="x_2">
			<li class="share_qzone" title="分享到QQ空间" onclick="js_header_top.share('qzone');">&nbsp;</li>
			<li class="share_sina" title="分享到新浪微博" onclick="js_header_top.share('sina');">&nbsp;</li>
			<li class="share_qqweibo" title="分享到QQ微博" onclick="js_header_top.share('qqweibo');">&nbsp;</li>
			<li class="share_kaixin" title="分享到开心网" onclick="js_header_top.share('kaixin');">&nbsp;</li>
			<li class="share_renren" title="分享到人人网" onclick="js_header_top.share('renren');">&nbsp;</li>
			<li class="share_douban" title="分享到豆瓣" onclick="js_header_top.share('douban');">&nbsp;</li>
			</div>
		</div>
	</div>
</div>
<script src="share.js"></script>
<script>
var js_header_top = new function() {
	this.share = function(type) {
		var o = {"title":"{cfg:(title,share)}" , "cont":"{cfg:(cont,share)}" , "pic":"{fun_get::html_url(cls_config::get('pic','share') , 1)}" , "type" : type , "url" : "{cfg:(domain,base)}"}
		share.to(o);
	}
}
</script>