<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{cfg:(site_title,sys)}-用户注册</title>
<meta name="keywords" content="{cfg:(keywords,sys)}"/>
<meta name="description" content="{cfg:(description,sys)}"/>
<link rel="stylesheet" type="text/css" href="/common/images/common.css"/>
<link rel="stylesheet" type="text/css" href="/common/images/expand.css"/>
<link rel="stylesheet" type="text/css" href="images/css.css"/>
<script src="{cfg:(dirpath,base)}/common.php?app=sys&app_act=web.config&app_ajax=1"></script>
<script src="/common/js/kj.js"></script>
<script src="/common/js/kj.ajax.js"></script>
<script src="/common/js/kj.dialog.js"></script>
</head>
<body>
{include(header)}
<div class="main">
{if($reg_switch==1)}
<table align="center"><tr><td style="font-size:18px;color:#ff0000;height:300px">{if(empty($reg_switch_info))}网站暂时关闭注册功能{else}{$reg_switch_info}{/if}</td></tr></table>
{else}
	<form name="frm_main" method="post" action="?app=ajax&app_act=reg" onsubmit="return thisjs.on_reg(true);">
	<input type="hidden" name="go_url" value="{$go_url}">
	<input type="hidden" name="verifycode" value="">
	<div class="reg_a">
		<div class="reg_b0"></div>
		
	  <div class="reg_b1">
	  {if(cls_config::get('rule_uname','user')=='email')}
	  邮箱：
	  {else if(cls_config::get('rule_uname','user')=='mobile')}
	  手机：
	  {else}
	  用户名：
	  {/if}	  
	  </div>
		<div class="reg_b2"><input name="uname" type="text" class="pTxt1 pTxtL200"/> 
	  <font class="txt_red">*</font></div>
		
		<div class="reg_b1">密码：</div>
		<div class="reg_b2"><input type="password" name="pwd1" class="pTxt1 pTxtL200"/> 
	  <font class="txt_red">*</font></div>

		<div class="reg_b1">确认密码：</div>
		<div class="reg_b2"><input type="password" name="pwd2" class="pTxt1 pTxtL200"/> 
	  <font class="txt_red">*</font></div>
		
		{if(cls_config::get('rule_uname','user')!='email' && cls_config::get('rule_uname','user')!='mobile')}
		<div class="reg_b1">邮箱：</div>
		<div class="reg_b2"><input type="text" name="email" class="pTxt1 pTxtL200"/> <font class="txt_red">*</font> <font class="txt_gary">必填！方便您以后找回账号密码！</font></div>
		{/if}
		{if($reg_switch==2)}
		<div class="reg_b1">邀请码：</div>
		<div class="reg_b2"><input type="password" name="invite_code" class="pTxt1 pTxtL100"/> 
	    <font class="txt_red">*</font> <font class="txt_gary">{$reg_switch_info}</font></div>
		{/if}
		<div class="reg_b3"><input type="submit" name="btn_submit" value="" style="background:url(images/btn_reg.gif) no-repeat;width:250px;height:55px;border:0px"></div>
		<div class="reg_b4">
			{$reg_content['cont']}
		</div>


	</div>
		<input type="hidden" name="jump_fromurl" value="{$jump_fromurl}" id="id_jump_fromurl">
	</form>
{/if}
</div>
<div id="id_verify_box" style="display:none">
	<div class="me_box1" style="float:left;padding:10px;line-height:40px">
	<li style="float:left;width:90%"><img src="" id="id_verify_pic"  onclick="thisjs.verify_refresh();"></li>
	<li style="float:left;width:90%"><input name="verifycode" type="text" class="pTxt1 pTxtL100" id="id_verifycode"/></li>
	<li style="float:left;width:90%"><input type="submit" name="btn_verify" value="确 定" class="btn1" id="id_btn_verify" onclick="thisjs.verify_ok();"></li>
	</div>
</div>
{if(cls_config::get('rule_uname','user')=='email')}
<div id="id_verify_email_box" style="display:none">
	<div class="me_box1" style="float:left;padding:10px;line-height:40px">
	<li style="float:left;width:90%">验证码已发送到您的邮箱，请登录邮箱获取</li>
	<li style="float:left;width:90%"><input name="emailcode" type="text" class="pTxt1 pTxtL100" id="id_emailcode"/></li>
	<li style="float:left;width:90%"><span style="float:left"><input type="submit" name="btn_verify_email" value="确 定" class="btn1" id="id_btn_verify_email" onclick="thisjs.verify_email_ok();"></span><span style="float:left;padding:5px 0px 0px 10px"><a href="javascript:kj.dialog.close('#winemailcode');thisjs.on_reg()" style="color:#888888;">重新发送</a></span></li>
	</div>
</div>
{else if(cls_config::get('rule_uname','user')=='mobile')}
<div id="id_verify_email_box" style="display:none">
	<div class="me_box1" style="float:left;padding:10px;line-height:40px">
	<li style="float:left;width:90%">请输入您手机收到的验证码&nbsp;(<span id="id_email_timer_box" style="color:#ff0000">剩余：<font id="id_email_timer"></font>秒</span>)</li>
	<li style="float:left;width:90%"><input name="emailcode" type="text" class="pTxt1 pTxtL100" id="id_emailcode"/></li>
	<li style="float:left;width:90%"><span style="float:left"><input type="submit" name="btn_verify_email" value="确 定" class="btn1" id="id_btn_verify_email" onclick="thisjs.verify_email_ok();"></span><span style="float:left;padding:5px 0px 0px 10px"><a href="javascript:kj.dialog.close('#winemailcode');thisjs.on_reg()" style="color:#888888;">重新发送</a></span></li>
	</div>
</div>
{/if}
<script>
kj.onload(function(){
	kj.handler(".pTxt1","focus",function(){
		kj.delClassName(this , "pTxt1");
		kj.addClassName(this , "pTxt2");
	});
	kj.handler(".pTxt1","blur",function(){
		kj.delClassName(this , "pTxt2");
		kj.addClassName(this , "pTxt1");
	});
});
var thisjs = new function() {
	this.timer = 90;
	this.verifycode_html = '';
	this.on_reg = function(is_re) {
		//是否需要验证码
		{if(cls_config::get('reg_verify' , 'user'))}
			this.show_verify();
		{else}
			this.on_is_verify();
		{/if}
		if(is_re) return false;
	}
	this.on_is_verify = function() {
	  {if(cls_config::get('rule_uname','user')=='email' || cls_config::get('rule_uname','user')=='mobile')}
		this.reg_email();
	  {else}
		this.reg();
	  {/if}
	}
	//邮箱验证
	this.reg_email = function() {
		var key = document.frm_main.uname.value;
		var verifycode = document.frm_main.verifycode.value;
		var type = '';
		{if(cls_config::get('rule_uname','user')=='email')}
			type = 'email';
		{else if(cls_config::get('rule_uname','user')=='mobile')}
			type = 'mobile';
		{/if}

		kj.ajax.get('{cfg:(dirpath,base)}/common.php?app=sys&app_act=verify_reg&type=' + type + '&key=' + key + '&verifycode=' + verifycode, function(data) {
			var obj_data=kj.json(data);
			if(obj_data.isnull) {
				alert("系统繁忙，请稍后再来试试");
			} else {
				{if(cls_config::get('reg_verify' , 'user'))}
					kj.dialog.close("#winverifycode");
				{/if}
				if(obj_data.code == 0) {
					thisjs.show_verify_email();
					thisjs.start_time(1);
				} else {
					if('msg' in obj_data && obj_data.msg!='') {
						alert(obj_data.msg);
					} else {
						alert("系统繁忙，请稍后再来试试");
					}
					if(obj_data.code == '11') thisjs.show_verify();
				}
			}
		});
	}
	//显示验证码
	this.show_verify = function() {
		var obj = kj.obj('#id_verify_box');
		if(obj) {
			this.verifycode_html = obj.innerHTML;
			kj.remove(obj);
		}
		kj.dialog({'html':this.verifycode_html,'id':'verifycode','type':'html','title':'请输入验证码','w':300,'showbtnmax':false,'showbtnhide':false});
		this.verify_refresh();
	}
	//显示邮箱验证框
	this.show_verify_email = function() {
		var obj = kj.obj('#id_verify_email_box');
		if(obj) {
			this.emailcode_html = obj.innerHTML;
			kj.remove(obj);
		}
		kj.dialog({'html':this.emailcode_html,'id':'emailcode','type':'html','title':'注册验证','w':330,'showbtnmax':false,'showbtnhide':false});
	}
	this.verify_email_ok = function() {
		var val = kj.obj("#id_emailcode").value;
		if(val == '') {
			alert("请输入验证码");
			kj.obj("#id_emailcode").focus();
			return;
		}
		document.frm_main.verifycode.value = val;
		kj.obj("#id_btn_verify_email").className = '';
		kj.obj("#id_btn_verify_email").disabled = true;
		kj.obj("#id_btn_verify_email").value="正在提交，请不要关闭..";
		this.reg();
	}
	this.verify_refresh = function() {
		kj.obj("#id_verify_pic").src='{cfg:(dirpath,base)}/common.php?app=sys&app_act=verifycode&app_contenttype=img&app_rnd='+Math.random();
	}
	this.verify_ok = function() {
		var val = kj.obj("#id_verifycode").value;
		if(val == '') {
			alert("请输入验证码");
			kj.obj("#id_verifycode").focus();
			return;
		}
		document.frm_main.verifycode.value = val;
		kj.obj("#id_btn_verify").className = '';
		kj.obj("#id_btn_verify").disabled = true;
		kj.obj("#id_btn_verify").value="正在提交，请不要关闭..";
		this.on_is_verify();
	}
	this.reg = function() {
		kj.ajax.post(document.frm_main , function(data) {
			var obj_data=kj.json(data);
			if(obj_data.isnull) {
				alert("系统繁忙，请稍后再来试试");
			} else {
				if(obj_data.code == 0) {
					var url = kj.obj("#id_jump_fromurl").value;
					if('msg' in obj_data && obj_data.msg!='') {
						alert(obj_data.msg);
					}
					if(url) {
						window.open(url , "_self");
					} else {
						window.open("{cfg:(dirpath,base)}/index.php?app=member" , "_self");
					}
				} else {
					if('msg' in obj_data && obj_data.msg!='') {
						alert(obj_data.msg);
					} else {
						alert("系统繁忙，请稍后再来试试");
					}
					{if(cls_config::get('rule_uname','user')=='email')}
						kj.obj("#id_btn_verify_email").className = 'btn1';
						kj.obj("#id_btn_verify_email").disabled = false;
						kj.obj("#id_btn_verify_email").value="确 定";
					{/if}
					{if(cls_config::get('reg_verify' , 'user'))}
						if(kj.obj("#id_btn_verify")) {
							kj.obj("#id_btn_verify").className = 'btn1';
							kj.obj("#id_btn_verify").disabled = false;
							kj.obj("#id_btn_verify").value="确 定";
						}
					{/if}
					if(obj_data.code == '11') thisjs.show_verify();
				}
			}
		});
	}
	this.start_time = function(isstart) {
		var obj = kj.obj("#id_email_timer");
		if(!obj) return;
		var timer = kj.toint(obj.innerHTML);
		//if(timer <= 0) timer = this.timer;
		timer--;
		if(isstart) timer = this.timer;
		if(timer<0) {
			kj.obj("#id_email_timer_box").innerHTML = '已过期';
			kj.obj("#id_btn_verify_email").className = '';
			kj.obj("#id_btn_verify_email").disabled = true;
			kj.obj("#id_btn_verify_email").value="已过期..";

		} else {
			obj.innerHTML = timer;
			setTimeout('thisjs.start_time()' , 1000);
		}
	}
}

</script>
{include(footer)}
</body>
</html>