<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{cfg:(site_title,sys)}-会员中心</title>
<meta name="keywords" content="{cfg:(keywords,sys)}"/>
<meta name="description" content="{cfg:(description,sys)}"/>
<link rel="stylesheet" type="text/css" href="/common/images/common.css"/>
<link rel="stylesheet" type="text/css" href="/common/images/expand.css"/>
<link rel="stylesheet" type="text/css" href="images/css.css"/>
<link rel="stylesheet" type="text/css" href="images/member.css"/>
<script src="{cfg:(dirpath,base)}/common.php?app=sys&app_act=web.config&app_ajax=1"></script>
<script src="/common/js/kj.js"></script>
<script src="/common/js/kj.page.js"></script>
<script src="/common/js/kj.ajax.js"></script>
</head>
<body>
{include(member_header)}
<div class="main">
	<div style="float:left;width:100%;height:5px;font-size:0px">&nbsp;</div>
	{include(member_left)}
	<div style="float:left;width:730px;">
		<div class="member_right1">会员等级 + 经验值</div>
		<div class="member_right3" style="font-size:12px">
		
			<div class="member_right8a" style="height:60px;">尊敬的菜菜会员：<font class="txt_orangeB">{$this_login_user->uname}</font> ，您的会员等级：<img src="images/vip{$loginuser_level}.png" align="absmiddle">。<br>您现在累计的经验值为：<font class="txt_redB">{$loginuser_experience}</font> 点，仅需 <font class="txt_redB">{$loginuser_experience_poor}</font> 点经验值，即可晋升为<font class="txt_orangeB"> V{$loginuser_level_next} </font>会员。</div>
			
			<div class="member_right7a">
				<div class="member_right7b4" style="width:{$progress}px;">{$loginuser_experience} <img src="images/Vip_arr.png" align="absmiddle"></div>
			</div>
			<div class="member_right7c"></div>
			<div class="member_right7d">
				<div class="member_right7d1" style="width:86px;">(<font class="txt_red">0</font>)</div>
				<div class="member_right7d1" style="width:102px;">(<font class="txt_red">100</font>)</div>
				<div class="member_right7d1" style="width:100px;">(<font class="txt_red">300</font>)</div>
				<div class="member_right7d1" style="width:115px;">(<font class="txt_red">800</font>)</div>
				<div class="member_right7d1" style="width:120px;">(<font class="txt_red">2000</font>)</div>
				<div class="member_right7d1" style="width:100px;">(<font class="txt_red">5000</font>)</div>
				<div class="member_right7d1" style="width:57px; text-align:right;">(<font class="txt_red">10000</font>)</div>
			</div>
			
			<div class="member_right8b">
				<div class="member_right8b1" style="width:150px;">时间</div>
				<div class="member_right8b1" style="width:100px;">收入(点)</div>
				<div class="member_right8b1" style="width:100px;">经验累积(点)</div>
				<div class="member_right8b1" style="width:330px;">详情</div>
			</div>
			
			{set $experience=0}
			{foreach($action_list["list"] as $item)}
			<div class="member_right8c">
				<div class="member_right8c1">{$item["action_addtime"]}</div>
				<div class="member_right8c2">+{$item["action_experience"]}</div>
				<div class="member_right8c4">{$action_list["experience"]-$experience}</div>
				<div class="member_right8c6">{$item["beta"]}</div>
				{set $experience+=$item["action_experience"]}
			</div>
			{/foreach}
			
		</div>
		<div class="pPage" id="id_pPage" style="margin-top:20px">
		{$action_list['pagebtns']}
		</div>
	</div>
</div>
{include(footer)}
</body>
</html>