<DIV class=footer>
<DIV class=footmain>
<DIV class="left copy">主管：椴木沟村
QQ群：120220768<BR>ICP备09007576号&nbsp;百公网安备：4526010151&nbsp;技术支持：<A 
title="河北大学软件创业中心" href="http://soft.hicc.cn/" 
target=_blank>河北大学软件创业中心&河北大学工商学院科技协会</A> &nbsp;

<!--统计代码begin-->
<SCRIPT type=text/javascript>
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fd42650cb11b75aefd900d43a60803a26' type='text/javascript'%3E%3C/script%3E"));
</SCRIPT>
<!--统计代码end-->
</DIV></DIV></DIV>
<SCRIPT type=text/javascript>
$(function(){
	$(".picbig").each(function(i){
		var cur = $(this).find('.img-wrap').eq(0);
		var w = cur.width();
		var h = cur.height();
	   $(this).find('.img-wrap img').LoadImage(true, w, h,'{IMG_PATH}gxll/loading.gif');
	});
})
</SCRIPT>
</BODY></HTML>
