{template "content","header2"}
<!--main-->
<DIV class=container>
<DIV class=P10></DIV>
<DIV class=contentbox>
<DIV class="main left">
<DIV class=box>
<DIV class=main_tit>
<DIV class="txt left">{$catname}</DIV><SPAN class=crumbs><A 
href="{siteurl($siteid)}">首页</A><SPAN> &gt; </SPAN>{catpos($catid)} 列表</SPAN> 
</DIV>
<UL class=list>
{pc:content action="lists" catid="$catid" num="25" order="id DESC" page="$page" moreinfo="1"}
{loop $data $r}  
  <LI><SPAN>{date('Y-m-d',$r[inputtime])}</SPAN>
  <DIV class=author>作者：{$r[author]}</DIV><A title={$r[title]} 
  href="{$r[url]}" 
  target=_blank>{$str_cut($r[title],85)}</A> </LI>
  {if $n%5 ==0}<li class="bk20 hr"></li>{/if}
  {/loop}
{$pages}
{/pc}
 </UL>
<DIV class=P10></DIV>
<DIV id=pages class=text-c></DIV></DIV></DIV>
<DIV class="sidebar right">
<DIV class="box bot">
<DIV class=sidebar_tit>{$catname}</DIV>
<DIV class="Btop sidenav">
<UL>
  {pc:content action="category" catid="$parentid" num="15" siteid="$siteid" order="listorder ASC"}
{loop $data $r}
  <LI><A href="{$r[url]}">{$r[catname]}</A> </LI>
{/loop}
{/pc}
  </UL></DIV></DIV>
<DIV class=box>
<DIV class=sidebar_tit>专题栏目</DIV>
<DIV class="Btop sidesp">
<UL>
  {pc:content action="category" catid="15" siteid="$siteid" num="4" order="listorder ASC"}
   {loop $data $r} 
	<LI><a title="$r[title]" href="{$r[url]}" target=_blank><IMG src={thumb($r[image],194,60)} width="190" height="56"></a></LI>
	{/loop}
	{/pc}
  </UL></DIV></DIV>
<DIV class=P10></DIV>
<DIV class=box>
<DIV class=sidebar_tit>热门阅读</DIV>
<DIV class="Btop sidelis">
<UL>
{pc:content  action="hits" catid="$catid" num="10" order="views DESC" cache="3600"}
{loop $data $r}
  <LI><A href="{$r[url]}" 
  target=_blank title="{$r[title]}">{str_cut($r[title],45)}</A> 
  </LI>
  {/loop}
{/pc}
</UL></DIV></DIV></DIV></DIV>
<DIV class="P10 PT"></DIV></DIV>
{template "content","footer2"}