{template "content","header_page"}
<!--main-->
<div class="container">
	<div class="P10"></div>
    <div class="contentbox">	  
      <div class="sidebar left">
        <div class="box bot">
          <div class="sidebar_tit">{$CATEGORYS[$CAT[catid]][catname]}</div>
          <div class="Btop sidenav">
          	<ul>
			  {pc:content action="category" catid="$catid" num="15" siteid="$siteid" order="listorder ASC"}
             {loop $data $r}
             <LI><A href="{$r[url]}">{$r[catname]}</A> </LI>
             {/loop}
             {/pc}
            </ul>
          </div>
        </div>
        <div class="box">
          <div class="sidebar_tit">专题栏目</div>
          <div class="Btop sidesp">
          	<ul>
            {pc:content action="category" catid="15" siteid="$siteid" num="4" order="listorder ASC"}
            {loop $data $r} 
	         <LI><a title="$r[title]" href="{$r[url]}" target=_blank><IMG src={thumb($r[image],194,60)} width="190" height="56"></a></LI>
	        {/loop}
	       {/pc}
          </ul>
          </div>
</div>      </div>
      <div class="main right">
        <div class="box">
          <div class="main_tit">
            <div class="txt left">隆林概述——隆林各族自治县简介</div>            
</div>
          <div class="show" id="100"><div class="content">
		  隆林各族自治县位于广西西北部，地处滇、黔、桂三省（区）交界处，属云贵高原东南边缘。辖16个乡（镇）179个行政村（社区），总面积3551平方公里，境内聚居着苗、彝、仡佬、壮、汉等5个民族，2011年末全县总人口40万，其中少数民族人口占全县总人口的81.2%。
<p>隆林历史悠久。宋宝佑元年（1253年），隆林隶属泗城州管辖的安隆峒；明建文四年（1402年）于螺蛳山下（今田林县旧州镇）置安隆长官司；清康熙五年（1666年）实行改土归流，撤安隆长官司置西隆州，至雍正七年（1729年）西隆州知州署自旧州迁至里仁塘（今隆林县城新州）仍隶泗城府辖；民国元年（1912年）元月，西隆州改为西隆县；1950年3月全县获得解放，同年3月18日西隆县人民政府宣布成立；1951年8月，西林县撤销建制，并入西隆县，西隆县改称隆林县；1953年元月1日，隆林各族联合自治区人民政府（县级）成立，开始实行民族区域自治；1955年9月18日，隆林各族联合自治区人民政府改称隆林各族自治县人民委员会；1989年8月29日，自治县第八届人民代表大会第四次会议通过了《隆林各族自治县自治条例》；1997年被命名为&ldquo;革命老区县&rdquo;。目前，隆林是全国仅有的两个各族自治县之一，也是百色革命老区唯一的少数民族自治县。</p>
<p>隆林区位优势明显。隆林各族自治县东与田林县相连，南与西林县接壤，北与贵州省安龙县、册亨县毗邻；324国道贯穿境内。隆林至百色高速公路修通后，隆林距南宁、昆明、贵阳都是4个小时左右的路程，将成为桂西次中心城市。在中国&mdash;东盟&ldquo;一轴两翼&rdquo;经济发展战略中，起到连接云南、贵州的桥梁作用，是大西南出海通道的&ldquo;桥头堡&rdquo;。 隆林自然资源丰富。全县有大小河流118条，在南盘江上，现已建成的国家重点工程天生桥一、二级水电站，总装机容量为252万千瓦，年发电量132亿千瓦时；自治区重点工程平班水电站已于2005年全部建成发电，装机容量40.5万千瓦，年发电量16亿千瓦时；还有自然落差达484米的冷水河现已建成7个梯级电站，总装机容量3万千瓦，年发电量达1.5亿千瓦时，是国家&ldquo;西电东送&rdquo;的重要能源基地。矿产资源较为丰富。至今已探明的有锑、黄金、煤、锰、水晶矿、石灰石、硅石和辉绿岩等，是广西小有名气的有色矿藏之乡，其中锑矿储量大，矿产品位高，锑含量高达30%&mdash;60%。</p>
<p>隆林民族文化独特。自治县境内人文景观和民族风情多姿多彩。么窝、大树脚、张家寨、龙洞大寨等民族风情旅游景点已经开发；雪莲洞、入选&ldquo;百色十八景区&rdquo;，&ldquo;一日三省游&rdquo;的天生桥旅游渡假区、国家级金钟山原始森林自然保护区等旅游景点、金钟山黑颈长尾雉国家级自然保护区等旅游景点、景区正逐步规划开发；少数民族节庆文化活动在区内外都有较大的影响，苗族的&ldquo;跳坡节&rdquo;、彝族的&ldquo;火把节&rdquo;、仡佬族的&ldquo;吃新节&rdquo;、壮族的&ldquo;三月三&rdquo;排歌节等原汁原味的少数民族风情，少数民族服饰、蜡染、刺绣等手工艺品及黑粽子、羊瘪汤、辣椒骨、五色糯饭、枕头粑等民族风味小吃享誉区内外，曾被联合国教科文组织专家誉为&ldquo;活的少数民族博物馆&rdquo;。</p>
<p>近年来，隆林各族自治县在市委、市人民政府的正确领导下，全面贯彻落实科学发展观，紧紧围绕&ldquo;保增长、保民生、保稳定、保持良好发展势头&rdquo;的工作目标，团结进取，加油鼓劲，不断加快工业化、城镇化、农业产业化步伐，全县呈现政治稳定、经济发展、民族团结、社会进步的良好局面。2006&mdash;2007年连续两年荣获自治区县域经济发展进步奖；2007年分别荣获全国科普示范县、全区双拥模范县、全区民族团结进步奖；2008年荣获全区计生工作进步单位奖，金钟山黑颈长尾雉自然保护区晋升为国家级自然保护区；2009年分别荣获全国计划生育优质服务先进单位、第五次全国民族团结模范集体；2010年荣获全区计生工作先进单位奖，县计生服务站被评为全国计划生育优质服务示范站。</p>
<div style="margin-left: 40px">&nbsp;</div>

</div></div>
        </div>
        </div>
      
      
    </div>
    <div class="P10 PT"></div>
</div>
{template "content","footer2"}