#vmenu{
   margin:0;
   padding:0;
   background:#fff;
}


#vmenu a:link,#vmenu a:visited,#vmenu a:active{
   display:block;
   height:30px;
   color: #505050; 
   margin-bottom:1px;
   background:#ffeecc;
   text-decoration: none;
   font:12px/30px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;
   text-align:center;
}


#vmenu a:hover{
   display:block;
   height:30px;
   margin-bottom:1px;
   color: #fff; 
   background:#ffcc00;
   text-decoration: none;
   font:12px/30px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;
   text-align:center;
} 
