#channelmenu{
   margin:0;
   white-space:nowrap;
   overflow:hidden;
   height:40px;
   padding:0px;
   background:url(menu.png) -20px -850px repeat-x;
}


#channelmenu a.channelmenu_main:link,#channelmenu a.channelmenu_main:active,#channelmenu a.channelmenu_main:visited{
   display:block;
   float:left;
   color: #333333; 
   width:100px;
   height:40px;
   text-decoration: none;
   text-align:center;
   font:14px/40px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;
   background:url(menu.png) 0px -850px no-repeat;
   margin:0px 0px 0px -1px;
}

#channelmenu a.channelmenu_main_current{
   display:block;
   float:left;
   color: #333333; 
   width:100px;
   height:40px;
   text-decoration: none;
   text-align:center;
   font:14px/40px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;
   background:url(menu.png) 0px -800px no-repeat;
   margin:0px -1px 0px 0px;
} 

#channelmenu a.channelmenu_main:hover {
   display:block;
   float:left;
   color: #333333; 
   width:100px;
   height:40px;
   text-decoration: none;
   text-align:center;
   font:14px/40px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;
   background:url(menu.png) 0px -800px no-repeat;
   margin:0px -1px 0px 0px;
} 


#channelmenu_subdiv{
  background:url(menu.png) 0px -1600px repeat-x;
  height:30px;
  border:0px #ddd solid;
  border-top:0px;
}

#channelmenu_sub{
margin:0;
padding:0;
position:absolute;
top:41px;
left:8px;
height: 30px;
}

#channelmenu_sub ul{
display:none;
margin:0px 0px 0px 0px;
}

#channelmenu_sub li {
margin:0;
list-style-type: none;
line-height:25px;
height:25px;
float:left;
color:#ffffff;
white-space: nowrap;
font:12px/25px Verdana, Arial, Helvetica, sans-serif;
}

#channelmenu_sub a:link,#channelmenu_sub a:visited,#channelmenu_sub a:active{
margin:0 6px;
color:#ffffff;
font:12px/25px Verdana, Arial, Helvetica, sans-serif;
text-decoration: none;
}

#channelmenu_sub a:hover{
margin:0 6px;
color:#ff6600;
font:12px/25px Verdana, Arial, Helvetica, sans-serif;
text-decoration: underline;
}

